@import url(./__design/skills__design.css);
@import url(./__text/skills__text.css);
@import url(./__title/skills__title.css);
@import url(./cards-grid/cards-grid.css);


.skills{    
    position: relative;
    height: 1321px;
    max-width: 1440px;
    overflow: hidden;
    
}

.skills::before{
    content: "";
    position: absolute;
    height: 663px;
    left: -31.94%;
    right: 75.97%;
    top: 993px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.376) 0%, rgba(58, 95, 86, 0) 100%);
}