@import url(./__title/store__title.css);
@import url(./__text/store__text.css);
@import url(./product-cards/product-cards.css);

.store{
    position: relative;
    background: rgba(244, 243, 240, 1);

    max-width: 1440px;
    height: 890px;
    overflow: hidden;
}

.store::before{
    position: absolute;
    content: "";
    background-image: url(/Image/Page-designs.svg);

    left: 44.1%;
    top: 100px;

    height: 19px;
    width: 160px;
}

.store::after{
    content: "";
    height: 501px;
    left: 78.96%;
    right: -14.79%;
    top: 587px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(219, 52, 59, 0.296) 0%, rgba(219, 52, 59, 0) 100%);

    position: absolute;
}